#s1{
        background: url('/internship task for shortlisting /images/7d56a759ac56bc165f65c40094aba4e8.jpeg');
        color: #FDFDFF;
        background-size: 100% 90%;
        
        height: 25vh;
      
        
}
#s1rc1{
        
        position: absolute;
        top: 60%; 
        left: 10%;
        font-size: 20px;
}